*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: none;
}
body{

    line-height: 1.5;
    background-color: #2F4858;
    cursor: none;
    overflow-y: hidden;
    overflow-x: hidden;
   /* background-color: #1b1b1b; */
}
html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .custom-hr {
    border: none;
    border-top: 0.5px solid #fffff9; /* Customize the color and thickness */
    margin-bottom: 30px; /* Adjust margin as needed */
    width: 1300px;
  }
  .cursor-dot {
    width: 10px;
    height: 10px;
    background-color:hsl(59, 91.9%, 71.0%)
  }
  .cursor-outline {
    width: 35px;
    height: 35px;
    border: 2.3px solid hsl(59, 91.9%, 71.0%)
  }
  .cursor-outline,
  .cursor-dot {
     position: fixed;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     z-index: 1;
     border-radius: 50%;
     pointer-events: none;
  }
  .crane {
    margin-top: 0px;
    display: flex;
  }
  .container {
    max-width: 1820px;
    margin-left: 160px;
    margin-top: 160px;
    display: grid;
    align-items: start;
    grid-template-columns: 500px 800px; 
    column-gap: 50px;
  }
  .heading {
    font-family : 'Bebas Neue', sans-serif;
    font-size: 85px;
    line-height: 80px;
    user-select: none;  
    color: #f2f2e2;
}
.bodycopy {
  
    font-family: 'Vercetti-Regular', sans-serif;
    font-style: normal;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
    padding-bottom: 100px;
}
.container1 {
    margin-left: 160px;
    margin-top: 120px;
    display: grid;
    grid-template-columns: 400px 400px 500px;
    grid-template-rows: 100px 700px 700px;
    column-gap: 46px;
}
.subhead {
    width: 900px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 37.85px;
    color: #f2f2e2;
    line-height: 46.5px;
}
.content {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.content1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.iconwrapper {
  margin-left: 10px;
  margin-top: 48px;
  display: inline-block;
  position: relative;
}
.wrapitup {
  display: inline-block;
  position: absolute;
  padding-top: 9.3px;
  padding-left: 8px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-right: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.ender {
  margin-left: 890px;
  margin-bottom: 50px;
  display: inline-block;
  position: relative;
}
.wrapitupup {
  display: inline-block;
  position: absolute;
  padding-top: 9.3px;
  padding-left: 8px;
}
.circlefloor {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.trianglegull {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-right: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circlefloor:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.container {
  max-width: 1820px;
  margin-left: 160px;
  margin-top: 160px;
  display: grid;
  align-items: start;
  grid-template-columns: 500px 800px;
  grid-template-rows: 280px 450px;
  grid-auto-columns: minmax(50px, auto);  
  grid-auto-rows: minmax(50px, auto); 
  column-gap: 50px;
}
.iconic {
  margin-left: 40px;
  display: inline-block;
  position: relative;
}
.wrapitup2 {
  display: inline-block;
  position: absolute;
  padding-top: 10.3px;
  padding-left: 14px;
}
.circle2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle2 {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  border-left: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle2:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.nblank {
    width: 550px;
    padding-left: 50px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 30.85px;
    color: #f2f2e2;
    line-height: 40.5px;
}
.unescoimg {
    padding-top: 50px;
    padding-left: 50px;
}
.underpic {
    padding-top: 30px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.whohead {
    width: 500px;
    padding-top: 50px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 30.85px;
    color: #f2f2e2;
    line-height: 40.5px;
}
.whobody {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.howhead {
    width: 770px;
    padding-top: 110px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 25.85px;
    color: #f2f2e2;
    line-height: 30.5px;
}
.howbody {
    width: 560px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.systemset {
    padding-top: 577px;
    margin-left: 155px;
}
.ndpara{
    width: 560px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 74.5px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.dataimg {
    padding-top: 210px;
}
.forbes {
  margin-top: 150px;
}
.forbesind {
  width: 980px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #f2f2e2;
  line-height: 48.5px;
}
.forbescontent {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 50px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.forbescontent1 {
  width: 420px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 294px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.distance {
  padding-left: 10px;
}
.forbescontent2 {
  width: 420px;
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 294px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.coimbatoreflex {
  margin-top: 100px;
  margin-left: 160px;
  display: block;
}
.objective {
  margin-top: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 300px;
  column-gap: 50px;
}
.winner {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    color: #f2f2e2;
    line-height: 23.5px;
}
.winner1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.interview {
  margin-left: 160px;
  margin-top: 400px;
  display: grid;
  grid-template-columns: 600px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.item:nth-of-type(5) {
  padding-top: 50px;
}
.item:nth-of-type(6) {
  padding-top: 50px;
}
.glide {
  padding-top: 310px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #f2f2e2;
  line-height: 46.5px;
}
.glide1 {
  padding-top: 15px;
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 17.85px;
  color: #f2f2e2;
}
.observe {
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.observe1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.interview1 {
  margin-left: 160px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 600px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.slide {
  padding-top: 310px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #f2f2e2;
  line-height: 46.5px;
}
.slide1 {
  padding-top: 15px;
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 17.85px;
  color: #f2f2e2;
}
.item1:nth-of-type(5) {
  padding-top: 50px;
}
.item1:nth-of-type(6) {
  padding-top: 50px;
}
.consol {
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.consol1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.interview2 {
  margin-left: 160px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 600px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.fret {
  padding-top: 310px;
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #f2f2e2;
  line-height: 46.5px;
}
.fret1 {
  padding-top: 15px;
  font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 17.85px;
  color: #f2f2e2;
}
.item2:nth-of-type(5) {
  padding-top: 50px;
}
.item2:nth-of-type(6) {
  padding-top: 50px;
}
.fathom {
  width: 349px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.fathom1 {
  padding-left: 10px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.interview3 {
  margin-left: 160px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.capo {
  padding-top: 310px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #f2f2e2;
  line-height: 46.5px;
}
.capo1 {
  padding-top: 15px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 17.85px;
  color: #f2f2e2;
}
.item2:nth-of-type(5) {
  padding-top: 50px;
}
.item2:nth-of-type(6) {
  padding-top: 50px;
}
.port {
  padding-top: 50px;
  width: 620px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.readings {
  display: flex;
}
.visit {
  margin-top: 100px;
  margin-left: 120px;
  display: grid;
  grid-template-columns: 800px 500px;
  grid-template-rows: 1000px;
}
.lookupgmap {
    padding-top: 75px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-size: 37.85px;
    color: #f2f2e2;
    line-height: 46.5px;
}
.appearance {
  padding-top: 700px;
  padding-left: 300px;
}
.forethought {
  padding-top: 100px;
}
.gmappara {
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 30px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.stretch {
  margin-top: 200px;
  display: flex;
}
.yprac {
  display: grid;
  grid-template-columns: 600px 600px;
  gap: 70px;
}
.visual1:nth-of-type(1) {
  padding-top: 53px;
}
.visualrr {
  padding-top: 53px;
}
.deadend {
  object-fit: fill;
}
.deadend1 {
  margin-left: 49px;
  object-fit: fill;
}
.textlookdown {
  max-width: 1400px;
  margin-left: 200px;
  margin-bottom: 100px;
  display: flex;
}
.centeralign {
  text-align: center;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 30px;
  color: #f2f2e2;
  line-height: 23.5px;

}
.middlepara {
  margin-top: 170px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 300px 310px 300px 300px 300px;
  grid-template-rows: 500px;
  column-gap: 48px;
}
.ultrapara {
  text-align: center;
  width: 300px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 75px;
  color: #f2f2e2;
  line-height: 23.5px;
} 
.ultrapara1 {
  text-align: center;
  width: 310px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 72px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.aligner {
  padding-left: 590px;
}
.ultrapara2,
.ultrapara3,
.ultrapara4 {
  text-align: center;
  width: 300px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 72px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.modular:nth-of-type(2),
.modular:nth-of-type(3),
.modular:nth-of-type(4),
.modular:nth-of-type(5) {
  padding-top: 140px;
}
.usedstuff {
  margin-top: 180px;
  display: flex;
  justify-content: center;
}
.usedit {
  padding-left: 130px;
  width: 550px;
   font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
  font-size: 30.85px;
  color: #f2f2e2;
  line-height: 40.5px;
}
.ferry {
  margin-top: 130px;
  margin-left: 330px;
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 200px 200px 200px 100px;
  column-gap: 270px;
}
.sail:nth-of-type(1),
.sail:nth-of-type(3) {
  padding-top: 49px;
}
.sail:nth-of-type(4) {
  padding-top: 30px;
}
.sail:nth-of-type(6) {
  padding-top: 40px;
}
.sail:nth-of-type(7) {
  padding-left: 88px;
}
.sail:nth-of-type(8) {
  padding-left: 48px;
}
.backback {
  padding-bottom: 70px;
  padding-left: 890px;
}
.lenis.lenis-stopped
a {
    cursor: none !important; /* Hide the default cursor for all links */
  }
@font-face {
    font-family: 'Post Grotesk';
    src: local('Post Grotesk Book'), local('Post-Grotesk-Medium'),
        url('PostGrotesk-Medium.woff2') format('woff2'),
        url('PostGrotesk-Medium.woff') format('woff'),
        url('PostGrotesk-Medium.ttf') format('truetype'),
        url('PostGrotesk-Bold.woff2') format('woff2'),
        url('PostGrotesk-Bold.woff') format('woff'),
        url('PostGrotesk-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono-SemiBold'), local('JetBrainsMono-SemiBold'),
    url('fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    /* Add additional font formats if needed */
    font-weight: 'Semi Bold';
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('fonts/avenir_roman_12.woff') format('woff');
    }
    @font-face {
      font-family: 'Vercetti-Regular';
      font-style: normal;
      font-weight: regular;
      src: local('Vercetti-Regular'), url('fonts/Vercetti-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Switzer-Medium';
    src: url('fonts/Switzer-Medium.woff2') format('woff2'),
         url('fonts/Switzer-Medium.woff') format('woff'),
         url('fonts/Switzer-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  @media screen and (max-width: 1366px) {

    *
   {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
     }
     /* Media Query for MacBook Air (13.3-inch screen width) */
   @media screen and (max-width: 1440px) {
     /* Your CSS rules for the MacBook Air go here */
     *
       {
           box-sizing: border-box;
           padding: 0;
           margin: 0;
       }
       .body {
        overflow-x: hidden;
       }
       .container {
        max-width: 1820px;
        margin-left: 100px;
        margin-top: 100px;
        display: grid;
        align-items: start;
        grid-template-columns: 500px 800px; 
        column-gap: 50px;
      }
      .heading {
        font-family : 'Bebas Neue', sans-serif;
        font-size: 75px;
        line-height: 70px;
        user-select: none;  
        color: #f2f2e2;
    }
    .bodycopy {
      
        font-family: 'Vercetti-Regular', sans-serif;
        font-style: normal;
        font-size: 17.2px;
        padding-top: 50px;
        color: #f2f2e2;
        line-height: 23.5px;
        padding-bottom: 100px;
    }
    .container1 {
      margin-left: 100px;
      margin-top: 120px;
      display: grid;
      grid-template-columns: 321px 321px 500px;
      grid-template-rows: 100px 700px 700px;
      column-gap: 46px;
  }
  .nblank {
    width: 550px;
    padding-left: 50px;
    font-size: 27.85px;
    line-height: 38.5px;
}
.subhead {
  width: 677px;
  font-size: 27.85px;
  line-height: 38.5px;
}
.content {
    font-size: 17.2px;
    padding-top: 10px;
    line-height: 23.5px;
}
.content1 {
    font-size: 17.2px;
    padding-top: 10px;
    line-height: 23.5px;
}
.whohead {
  width: 700px;
  padding-top: 50px;
  font-size: 27.85px;
  line-height: 40.5px;
}
.whobody {
  width: 570px;
    font-size: 17.2px;
    padding-top: 50px;
    line-height: 23.5px;
}
.underpic {
  padding-top: 30px;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.howhead {
  width: 770px;
  padding-top: 100px;
  font-size: 27.85px;
  line-height: 30.5px;
}
.howbody {
  width: 560px;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.systemset {
  padding-top: 450px;
  margin-left: 255px;
}
.ndpara{
  width: 560px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  padding-top: 74.5px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.dataimg {
  padding-top: 100px;
}
.forbes {
  margin-top: 150px;
}
.forbesind {
  width: 980px;
  font-size: 27.85px;
  color: #f2f2e2;
  line-height: 40.5px;
}
.forbescontent {
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.forbescontent1 {
  width: 330px;
  font-size: 17.2px;
  padding-top: 280px;
  line-height: 23.5px;
}
.forbescontent2 {
  width: 330px;
  font-size: 18.85px;
  padding-top: 280px;
  line-height: 23.5px;
}
.coimbatoreflex {
  margin-top: 60px;
  margin-left: 100px;
  display: block;
}
.coim {
  width: 1200px;
  height: 750px;
}
.objective {
  margin-top: 50px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 600px 499px;
  grid-template-rows: 300px;
  column-gap: 50px;
}
.winner {
  font-size: 17.2px;
  line-height: 23.5px;
}
.winner1 {
  width: 500px;
  font-size: 17.2px;
  line-height: 23.5px;
}
.interview {
  margin-left: 100px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 500px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.glide {
  padding-top: 310px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 27.85px;
  color: #f2f2e2;
  line-height: 40.5px;
}
.observe {
  font-size: 17.2px;
  line-height: 23.5px;
}
.observe1 {
  font-size: 17.2px;
  line-height: 23.5px;
}
.interview1 {
  margin-left: 100px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 500px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.interview2 {
  margin-left: 100px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: 500px 340px 340px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.interview3 {
  margin-left: 100px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: 500px 400px;
  grid-template-rows: 400px 400px;
  column-gap: 30px;
}
.capo {
  padding-top: 310px;
  font-size: 27.85px;
  color: #f2f2e2;
  line-height: 38.5px;
}
.fret {
  padding-top: 310px;
  font-size: 27.85px;
  line-height: 30.5px;
}
.fathom {
  width: 349px;
  font-size: 17.2px;
  line-height: 23.5px;
}
.fathom1 {
  padding-left: 10px;
  font-size: 17.2px;
  line-height: 23.5px;
}
.port {
  padding-top: 50px;
  width: 620px;
  font-size: 17.2px;
  line-height: 23.5px;
}
.slide {
  padding-top: 310px;
  font-size: 27.85px;
  line-height: 38.5px;
}
.consol {
  font-size: 17.2px;
  line-height: 23.5px;
}
.port {
  padding-top: 50px;
  width: 660px;
  font-size: 18.85px;
  color: #f2f2e2;
  line-height: 23.5px;
}
.frontier {
  width: 900px;
  height: 500px;
}
.lookupgmap {
  padding-top: 75px;
  font-size: 27.85px;
  line-height: 38.5px;
}
.appearance {
  padding-top: 500px;
  padding-left: 100px;
}
.selfie {
  width: 300px;
  height: 400px;
}
.stretch {
  margin-top: -100px;
  display: flex;
}
.wayforward {
  width: 1440px;
  height: 800px;
}
.endresult {
  max-width: 300px;
  margin-top: 80px;
  display: flex;
  justify-content: left;
}
.visual1 {
  width: 800px;
  height: 500px;
}
.visualimpress {
  width: 800px;
  height: 500px;
}
.visualss {
  margin-top: 50px;
}
.textlookdown {
  padding-left: 200px;
  max-width: 1190px;
  margin-left: 12px;
  margin-bottom: 100px;
  display: flex;
}
.deadend {  
  width: 1440px;
  height: 1000px;
}
.middlepara {
  margin-top: 170px;
  margin-left: 77px;
  display: grid;
  grid-template-columns: 224px 228px 228px 227px 233px;
  grid-template-rows: 500px;
  column-gap: 38px;
}
.ultrapara,
.ultrapara1,
.ultrapara2,
.ultrapara3,
.ultrapara4 {
  text-align: center;
  width: 230px;
  font-size: 17.2px;
  padding-top: 72px;
  line-height: 23.5px;
}
.modular:nth-of-type(2),
.modular:nth-of-type(3),
.modular:nth-of-type(4),
.modular:nth-of-type(5) {
  padding-top: 140px;
}
.aligner {
  padding-left: 412px;
}
.deadend1 {
  margin-left: 0px;
  object-fit: fill;
  width: 1440px;
  height: 900px;
}
.usedstuff {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.ferry {
  margin-top: 130px;
  margin-left: 119px;
  display: grid;
  grid-template-columns: 230px 230px 230px;
  grid-template-rows: 200px 200px 200px 100px;
  column-gap: 270px;
}
.ender {
    margin-left: 707px;
    margin-bottom: 50px;
    display: inline-block;
    position: relative;
}
}
    /* @media screen and (max-width: 1279px) and (min-width: 1024px) {
       
     } */