* 
{ 
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    cursor: none;
}
body {
    line-height: 1.5px;
    background-color: #f2f2e2;
    cursor: none;
    user-select: none;
    overflow-y: hidden; 
}
html.lenis {
    height: auto;
}
.lenis.lenis-smooth {
    scroll-behavior: auto;
}
.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}
.lenis.lenis-stopper {
    overflow: hidden;
}
.lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
html.lenis {
    height: auto;
  }
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  .cursor-dot {
    width: 10px;
    height: 10px;
    background-color:hsl(180, 100%, 25%)
  }
  .cursor-outline {
    width: 35px;
    height: 35px;
    border: 2.3px solid hsl(180, 100%, 25%)
  }
  .cursor-outline,
  .cursor-dot {
     position: fixed;
     top: 0;
     left: 0;
     transform: translate(-50%, -50%);
     z-index: 1;
     border-radius: 50%;
     pointer-events: none;
  }
  .container {
    max-width: 1820px;
    margin-left: 160px;
    margin-top: 160px;
    display: grid;
    align-items: start;
    grid-template-columns: 500px 800px;
    grid-auto-columns: minmax(50px, auto);  
    column-gap: 220px;
  }
  .credit {
    padding-top: 90px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-size: 18.85px;
    color: #2F4858;
    line-height: 23.5px;
}
.item:nth-of-type(2) {
  padding-left: 50px;
}
.tileimage1 {
   transform: rotate(8deg);
   width: 320px; 
   height: 519px;
}
.tileimage2 {
  transform: rotate(8deg);
  width: 320px; 
  height: 519px;
}
/* Style the image inside the link */
.heading {
    font-family : 'Bebas Neue', sans-serif;
    font-size: 85px;
    line-height: 80px;
    user-select: none;  
    color: #2F4858;
}
.bodycopy {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.productcover {
  margin-top: 98px;
  display: flex;
  position: relative;
}
.setter {
  width: 1920px; 
  height: 1080px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 249, 1));
}
.dunlopicon {
  margin-top: 58px;
  display: flex;
  position: relative;
  justify-content: center;
}
.ggbtoo {
  margin-top: 28px;
  display: flex;
  position: relative;
  justify-content: center;
}
.firstgrid {
  margin-top: 100px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 670px 800px;
  column-gap: 74px;
}
.timtamimg {
   width: 800px;
   height: 450px;
}
.timtamimg1 {
  width: 745px;
  height: 580px;
}
.timtamimg2 {
  width: 800px; 
  height: 750px;
}
.AboutUs {
  width: 662px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 50px;
  padding-left: 70px;
  line-height: 23.5px;
}
.headbut {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 100px;
  line-height: 23.5px;
}
.headbut1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 20px;
  line-height: 23.5px;
}
.bodyus {
  max-width: 586px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 50px;
  padding-left: 70px;
  line-height: 23.5px;
}
.prodbody {
  width: 596px;
  padding-left: 100px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 100px;
  line-height: 23.5px;
}
.artistbody {
  width: 612px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 50px;
  line-height: 23.5px;
}
.transtext {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: center;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.iconwrapper {
  margin-left: 10px;
  margin-top: 28px;
  display: inline-block;
  position: relative;
}
.wrapitup {
  display: inline-block;
  position: absolute;
  padding-top: 9.3px;
  padding-left: 8px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-right: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.iconic {
  margin-top: 79px;
  margin-left: 40px;
  display: inline-block;
  position: relative;
}
.wrapitup2 {
  display: inline-block;
  position: absolute;
  padding-top: 10.3px;
  padding-left: 14px;
}
.circle2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle2 {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  border-left: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle2:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.collection {
  margin-top: 100px;
  margin-left: 160px;
  display: flex;
  justify-content: left;
}
.archive {
  padding-top: 50px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  line-height: 23.5px;
}
.secondgrid {
  margin-top: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap: 147px;
  row-gap: 45px;
}
.piper:nth-of-type(1), .piper:nth-of-type(2), .piper:nth-of-type(3),
.piper:nth-of-type(4), .piper:nth-of-type(5),  .piper:nth-of-type(6),
.piper:nth-of-type(7),  .piper:nth-of-type(8) {
  width: 348px;
  height: 525px;
}
.bagpipe:nth-of-type(12) {
  padding-left: 44px;
}
.thirdgrid {
  margin-top: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 640px;
  grid-template-rows: 245px 298px;
}
.trombone:nth-of-type(2) {
  margin-left: 91px;
}
.trombone:nth-of-type(3) {
  margin-left: 78px;
}
.trombone:nth-of-type(4) {
  margin-left: 85px;
}
.trombone:nth-of-type(8) {
  margin-left: 250px;
}
.trombone:nth-of-type(5) {
  padding-top: 290px;
  padding-left: 100px;
}
.classing {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.tileimage1:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));
}
.tileimage2:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));

}
.trombone:nth-of-type(10) {
  padding-top: 150px;
  padding-left: 87px;
}
.ranger {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 28.85px;
  color: #2F4858;
  line-height: 29.5px;
}
/*.download_manual {
    
  text-decoration: none;
  text-align: left;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #2F4858;
  transition: transform 0.3s ease;
  line-height: 23.5px;
}
.download_manual:hover {
  transform: scale(1.5);
  z-index: 1;
  text-shadow: 0 0 7.8px #2F4858;
}*/
.pedalcollection {
  margin-top: 150px;
  margin-left: 160px;
  display: flex;
  justify-content: left;
}
.trombreak:nth-of-type(1) {
  padding-top: 15px;
}
.trombreak:nth-of-type(2) {
  padding-top: 15px;
}
.grabber {
  padding-left: 86px;
}
.trombreak:nth-of-type(4) {
  padding-left: 100px;
}
.chalklike {
  margin-top: 180px;
  margin-left: 160px;
  display: flex;
}
.chalk {
  width: 1500px; 
  height: 890px;
}
.piper:nth-of-type(12) {
  padding-top: 10px;
  padding-left: 34px;
}
.piper:nth-of-type(9) {
  padding-top: 10px;
}
.palettecollect {
  width: 661px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  line-height: 23.5px;
}

.fewfew {
  margin-top: 80px;
  margin-left: 160px;
  display: flex;
}
.fewmore {
  width: 1560px;
  height: 781px;
}
.fewless {
  margin-left: 160px;
  display: flex;
}
.fewer {
  width: 1560px;
  height: 781px;
}
@keyframes textAppear {
  from {
    opacity: 0;
    transform: translateY(39px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.item:nth-of-type(1) a {
  display: inline-block;
  opacity: 0;
  animation: linkAppear 1.5s ease-in-out forwards;
}

@keyframes linkAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
a {
  cursor: none !important; /* Hide the default cursor for all links */
}
@font-face {
    font-family: 'Post Grotesk';
    src: local('Post Grotesk Book'), local('Post-Grotesk-Medium'),
        url('PostGrotesk-Medium.woff2') format('woff2'),
        url('PostGrotesk-Medium.woff') format('woff'),
        url('PostGrotesk-Medium.ttf') format('truetype'),
        url('PostGrotesk-Bold.woff2') format('woff2'),
        url('PostGrotesk-Bold.woff') format('woff'),
        url('PostGrotesk-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'JetBrainsMono';
    src: local('JetBrainsMono-SemiBold'), local('JetBrainsMono-SemiBold'),
    url('fonts/JetBrainsMono-SemiBold.woff2') format('woff2');
    /* Add additional font formats if needed */
    font-weight: 'Semi Bold';
    font-style: normal;
  }
  @font-face {
    font-family: 'Avenir Roman';
    font-style: normal;
    font-weight: normal;
    src: local('Avenir Roman'), url('fonts/avenir_roman_12.woff') format('woff');
    }
    @font-face {
      font-family: 'Vercetti-Regular';
      font-style: normal;
      font-weight: regular;
      src: local('Vercetti-Regular'), url('fonts/Vercetti-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Switzer-Medium';
    src: url('/oldroom/fonts/Switzer-Medium.woff2') format('woff2'),
         url('/oldroom/fonts/Switzer-Medium.woff') format('woff'),
         url('/oldroom/fonts/Switzer-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  @media screen and (max-width: 1366px) {

    *
   {
       box-sizing: border-box;
       padding: 0;
       margin: 0;
   }
     }
     /* Media Query for MacBook Air (13.3-inch screen width) */
   @media screen and (max-width: 1440px) {
     /* Your CSS rules for the MacBook Air go here */
     *
       {
           box-sizing: border-box;
           padding: 0;
           margin: 0;
       }
       .container {
        max-width: 1820px;
        margin-left: 100px;
        margin-top: 100px;
        display: grid;
        align-items: start;
        grid-template-columns: 500px 800px;
        grid-auto-columns: minmax(50px, auto);  
        column-gap: 50px;
      }
      .heading {
        font-family : 'Bebas Neue', sans-serif;
        font-size: 75px;
        line-height: 70px;
    }
    .bodycopy {
        font-size: 17.2px;
        padding-top: 50px;
        line-height: 23.5px;
    }
    .credit {
      padding-top: 90px;
      font-size: 17.2px;
      line-height: 23.5px;
  }
  .tileimage1 {
     width: 270px;
     height: 420px;
  }
  .tileimage2 {
    width: 270px;
    height: 420px;
 }
 .setter {
  width: 1440px;
  height: 800px;
 }
 .firstgrid {
  margin-top: 100px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 372px 800px;
  column-gap: 74px;
}
.AboutUs {
  width: 662px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  padding-top: 20px;
  line-height: 23.5px;
}
.bodyus {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.prodbody {
  width: 768px;
  padding-left: 346px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.headbut {
  font-size: 27.85px;
  padding-top: 50px;
  line-height: 20.5px;
}
.headbut1 {
  font-size: 27.85px;
  padding-top: 20px;
  line-height: 20.5px;
}
.artistbody {
  width: 364px;
  text-align: left;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.collection {
  margin-top: 100px;
  margin-left: 80px;
  display: flex;
  justify-content: left;
}
.secondgrid {
  margin-top: 100px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap: 70px;
  row-gap: 45px;
}
.archive {
  font-size: 27.85px;
  line-height: 23.5px;
}
.piper {
  width: 288px;
  height: 385px;
}
.piperr {
  width: 228px;
  height: 77px;
}
.bagpipe:nth-of-type(10) {
  padding-left: 100px;
}
.pedalcollection {
  margin-top: 150px;
  margin-left: 100px;
  display: flex;
  justify-content: left;
}
.thirdgrid {
  margin-top: 50px;
  margin-left: 100px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 640px;
  grid-template-rows: 245px 298px;
}
.ranger {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 26.85px;
  line-height: 29.5px;
}
.classing {
  padding-left: 200px;
  width: 700px;
  text-align: left;
  font-size: 17.2px;
  padding-top: 50px;
  line-height: 23.5px;
}
.chalklike {
  margin-top: 180px;
  margin-left: 100px;
  display: flex;
}
.chalk {
  width: 1240px;
  height: 740px;
}
.fewfew {
  margin-top: 80px;
  margin-left: 0px;
  display: flex;
}
.fewless {
  margin-left: 0px;
  display: flex;
}
.fewmore {
  width: 1440px;
  height: 691px;
}
.fewer {
  width: 1440px;
  height: 691px;
}
}
@media only screen and (min-width: 1640px) and (orientation: landscape) {
   
  .container {
    max-width: 1640px;
    margin-left: 110px;
    margin-top: 160px;
    display: grid;
    align-items: start;
    grid-template-columns: 500px 800px;
    grid-auto-columns: minmax(50px, auto);  
    column-gap: 117px;
  }
  .credit {
    padding-top: 90px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-size: 18.85px;
    color: #2F4858;
    line-height: 23.5px;
}
.item:nth-of-type(2) {
  padding-left: 50px;
}
.tileimage1 {
  transform: rotate(8deg);
  width: 284px; 
  height: 486px;
}
.tileimage2 {
 transform: rotate(8deg);
 width: 278px; 
 height: 475px;
}
/* Style the image inside the link */
.heading {
    font-family : 'Bebas Neue', sans-serif;
    font-size: 85px;
    line-height: 80px;
    user-select: none;  
    color: #2F4858;
}
.bodycopy {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.productcover {
  margin-top: 98px;
  display: flex;
  position: relative;
}
.setter {
  width: 1640px; 
  height: 916px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 249, 1));
}
.dunlopicon {
  margin-top: 58px;
  display: flex;
  position: relative;
  justify-content: center;
}
.ggbtoo {
  margin-top: 28px;
  display: flex;
  position: relative;
  justify-content: center;
}
.firstgrid {
  margin-top: 100px;
  margin-left: 110px;
  display: grid;
  grid-template-columns: 670px 658px;
  column-gap: 50px;
  row-gap: 0px;
}
.timtamimg {
  width: 658px;
  height: 374px;
}
.timtamimg1 {
 width: 721px;
 height: 556px;
}
.timtamimg2 {
  width: 654px; 
  height: 622px;
}
.AboutUs {
  padding-top: 27px;
  padding-left: 45px;
}
.headbut {
  padding-left: 32px;
  padding-top: 100px;
}
.headbut1 {
  padding-left: 32px;
  padding-top: 20px;
}
.artistbody {
  padding-left: 32px;
  padding-top: 50px;
}
.bodyus {
  max-width: 618px;
  padding-top: 50px;
  padding-left: 45px;
}
.prodbody {
  width: 596px;
  padding-left: 100px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 100px;
  line-height: 23.5px;
}
.transtext {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: center;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.iconwrapper {
  margin-left: 10px;
  margin-top: 28px;
  display: inline-block;
  position: relative;
}
.wrapitup {
  display: inline-block;
  position: absolute;
  padding-top: 9.3px;
  padding-left: 8px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-right: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.iconic {
  margin-top: 79px;
  margin-left: 40px;
  display: inline-block;
  position: relative;
}
.wrapitup2 {
  display: inline-block;
  position: absolute;
  padding-top: 10.3px;
  padding-left: 14px;
}
.circle2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle2 {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  border-left: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle2:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.collection {
  margin-top: 100px;
  margin-left: 110px;
  display: flex;
  justify-content: left;
}
.archive {
  padding-top: 50px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  line-height: 23.5px;
}
.secondgrid {
  margin-top: 50px;
  margin-left: 110px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap: 103px;
  row-gap: 41px;
}
.piper:nth-of-type(1), .piper:nth-of-type(2), .piper:nth-of-type(3),
.piper:nth-of-type(4), .piper:nth-of-type(5),  .piper:nth-of-type(6),
.piper:nth-of-type(7),  .piper:nth-of-type(8) {
  width: 314px;
  height: 491px;
}
.bagpipe:nth-of-type(12) {
  padding-left: 0px;
}
.thirdgrid {
  margin-top: 50px;
  margin-left: 110px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 412px;
  grid-template-rows: 245px 298px;
}
.trombone:nth-of-type(2) {
  margin-left: 91px;
}
.trombone:nth-of-type(3) {
  margin-left: 78px;
}
.trombone:nth-of-type(4) {
  margin-left: 85px;
}
.trombone:nth-of-type(8) {
  margin-left: 250px;
}
.trombone:nth-of-type(5) {
  padding-top: 290px;
  padding-left: 100px;
}
.classing {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.tileimage1:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));
}
.tileimage2:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));

}
.trombone:nth-of-type(10) {
  padding-top: 150px;
  padding-left: 87px;
}
.ranger {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 28.85px;
  color: #2F4858;
  line-height: 29.5px;
}
/*.download_manual {
    
  text-decoration: none;
  text-align: left;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #2F4858;
  transition: transform 0.3s ease;
  line-height: 23.5px;
}
.download_manual:hover {
  transform: scale(1.5);
  z-index: 1;
  text-shadow: 0 0 7.8px #2F4858;
}*/
.pedalcollection {
  margin-top: 150px;
  margin-left: 110px;
  display: flex;
  justify-content: left;
}
.trombreak:nth-of-type(1) {
  padding-top: 15px;
}
.trombreak:nth-of-type(2) {
  padding-top: 15px;
}
.grabber {
  padding-left: 86px;
}
.trombreak:nth-of-type(4) {
  padding-left: 100px;
}
.chalklike {
  margin-top: 180px;
  margin-left: 110px;
  display: flex;
}
.chalk {
  width: 1300px; 
  height: 690px;
}
.piper:nth-of-type(12) {
  padding-top: 10px;
  padding-left: 34px;
}
.piper:nth-of-type(9) {
  padding-top: 10px;
}
.palettecollect {
  width: 661px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  line-height: 23.5px;
}

.fewfew {
  margin-top: 80px;
  margin-left: 110px;
  display: flex;
}
.fewmore {
  width: 1360px;
  height: 707px;
}
.fewless {
  margin-left: 110px;
  display: flex;
}
.fewer {
  width: 1360px;
  height: 707px;
}
}
@media only screen and (min-width: 1880px) {
  .container {
    max-width: 1820px;
    margin-left: 160px;
    margin-top: 160px;
    display: grid;
    align-items: start;
    grid-template-columns: 500px 800px;
    grid-auto-columns: minmax(50px, auto);  
    column-gap: 220px;
  }
  .credit {
    padding-top: 90px;
    font-family: 'Switzer-Medium';
    font-weight: 500;
    font-style: normal;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-size: 18.85px;
    color: #2F4858;
    line-height: 23.5px;
}
.item:nth-of-type(2) {
  padding-left: 50px;
}
/* Style the image inside the link */
.heading {
    font-family : 'Bebas Neue', sans-serif;
    font-size: 85px;
    line-height: 80px;
    user-select: none;  
    color: #2F4858;
}
.bodycopy {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.productcover {
  margin-top: 98px;
  display: flex;
  position: relative;
}
.setter {
  width: 1920px; 
  height: 1080px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 249, 1));
}
.dunlopicon {
  margin-top: 58px;
  display: flex;
  position: relative;
  justify-content: center;
}
.ggbtoo {
  margin-top: 28px;
  display: flex;
  position: relative;
  justify-content: center;
}
.firstgrid {
  margin-top: 100px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 670px 800px;
  column-gap: 74px;
}
.timtamimg {
  width: 800px;
  height: 450px;
}
.timtamimg1 {
 width: 745px;
 height: 580px;
}
.timtamimg2 {
  width: 800px; 
  height: 750px;
}
.AboutUs {
  width: 662px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 50px;
  padding-left: 70px;
  line-height: 23.5px;
}
.headbut {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 100px;
  line-height: 23.5px;
}
.headbut1 {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  padding-top: 20px;
  line-height: 23.5px;
}
.bodyus {
  max-width: 586px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 50px;
  padding-left: 70px;
  line-height: 23.5px;
}
.prodbody {
  width: 596px;
  padding-left: 100px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 100px;
  line-height: 23.5px;
}
.artistbody {
  width: 612px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  padding-top: 50px;
  line-height: 23.5px;
}
.transtext {
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: center;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.iconwrapper {
  margin-left: 10px;
  margin-top: 28px;
  display: inline-block;
  position: relative;
}
.wrapitup {
  display: inline-block;
  position: absolute;
  padding-top: 9.3px;
  padding-left: 8px;
}
.circle {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-right: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.iconic {
  margin-top: 79px;
  margin-left: 40px;
  display: inline-block;
  position: relative;
}
.wrapitup2 {
  display: inline-block;
  position: absolute;
  padding-top: 10.3px;
  padding-left: 14px;
}
.circle2 {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #2F4858;
/*  transition: filter 0.3s ease-in-out; */
  transition: color 0.3s ease-in-out;
}
.triangle2 {
  width: 0;
  height: 0;
  border-top: 12.7px solid transparent; /* Adjust the size as needed */
  border-bottom: 12.7px solid transparent; /* Adjust the size as needed */
  border-left: 20.7px solid #f2f2e2; /* Adjust the size and color as needed */
  position: absolute;
  transition: color 0.3s ease-in-out;
}
.circle2:hover {
 filter: drop-shadow(0 0 10px rgba(242, 242, 226, 0.7));
 background-color: teal;
}
.collection {
  margin-top: 100px;
  margin-left: 160px;
  display: flex;
  justify-content: left;
}
.archive {
  padding-top: 50px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 37.85px;
  color: #2F4858;
  line-height: 23.5px;
}
.secondgrid {
  margin-top: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  column-gap: 147px;
  row-gap: 45px;
}
.piper:nth-of-type(1), .piper:nth-of-type(2), .piper:nth-of-type(3),
.piper:nth-of-type(4), .piper:nth-of-type(5),  .piper:nth-of-type(6),
.piper:nth-of-type(7),  .piper:nth-of-type(8) {
  width: 348px;
  height: 525px;
}
.bagpipe:nth-of-type(12) {
  padding-left: 44px;
}
.thirdgrid {
  margin-top: 50px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 640px;
  grid-template-rows: 245px 298px;
}
.trombone:nth-of-type(2) {
  margin-left: 91px;
}
.trombone:nth-of-type(3) {
  margin-left: 78px;
}
.trombone:nth-of-type(4) {
  margin-left: 85px;
}
.trombone:nth-of-type(8) {
  margin-left: 250px;
}
.trombone:nth-of-type(5) {
  padding-top: 290px;
  padding-left: 100px;
}
.classing {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
    text-align: left;
    font-size: 18.85px;
    padding-top: 50px;
    color: #2F4858;
    line-height: 23.5px;
}
.tileimage1 {
  transform: rotate(8deg);
  width: 320px; 
  height: 519px;
}
.tileimage2 {
 transform: rotate(8deg);
 width: 320px; 
 height: 519px;
}
.tileimage1:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));
}
.tileimage2:hover {
  filter: drop-shadow(0 0 10px rgba(47, 72, 88, 1));

}
.trombone:nth-of-type(10) {
  padding-top: 150px;
  padding-left: 87px;
}
.ranger {
  padding-left: 200px;
  width: 700px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 28.85px;
  color: #2F4858;
  line-height: 29.5px;
}
/*.download_manual {
    
  text-decoration: none;
  text-align: left;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  font-size: 18.85px;
  color: #2F4858;
  transition: transform 0.3s ease;
  line-height: 23.5px;
}
.download_manual:hover {
  transform: scale(1.5);
  z-index: 1;
  text-shadow: 0 0 7.8px #2F4858;
}*/
.pedalcollection {
  margin-top: 150px;
  margin-left: 160px;
  display: flex;
  justify-content: left;
}
.trombreak:nth-of-type(1) {
  padding-top: 15px;
}
.trombreak:nth-of-type(2) {
  padding-top: 15px;
}
.grabber {
  padding-left: 86px;
}
.trombreak:nth-of-type(4) {
  padding-left: 100px;
}
.chalklike {
  margin-top: 180px;
  margin-left: 160px;
  display: flex;
}
.chalk {
  width: 1500px; 
  height: 890px;
}
.piper:nth-of-type(12) {
  padding-top: 10px;
  padding-left: 34px;
}
.piper:nth-of-type(9) {
  padding-top: 10px;
}
.palettecollect {
  width: 661px;
  font-family: 'Switzer-Medium';
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  text-align: left;
  font-size: 18.85px;
  color: #2F4858;
  line-height: 23.5px;
}

.fewfew {
  margin-top: 80px;
  margin-left: 160px;
  display: flex;
}
.fewmore {
  width: 1560px;
  height: 781px;
}
.fewless {
  margin-left: 160px;
  display: flex;
}
.fewer {
  width: 1560px;
  height: 781px;
}
}